html, body{
    height:100%;
    width:100%;
    margin:0px;

}
*{
    box-sizing: border-box;
}
.heading{
    font-size: 35px;
    margin-top:20px;
    margin-bottom: 30px;
    color:rgb(167, 161, 161);
    text-align: center;
}
#container{
    width:500px;
    border:3px solid rgb(160, 58, 58);
    margin:auto;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
}
#input{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center; 
    
}
input{
    border-radius: 5px;
    border: 2px solid rgb(153, 151, 151);
    font-size: 20px;
    padding:10px;
    
}
.cbt{
    display:flex;
align-self: center;
}
.design{
    margin: 5px;
    
    
    
}
button{
    background-color: cadetblue;
    border-style: none;
    font-size: 40px;
    border-radius: 3px;
    padding:10px;
}